---
import { getCollection, type CollectionEntry } from "astro:content"

import BlogStructuredData from "@components/head/BlogStructuredData.astro"
import MainLayout from "@layouts/MainLayout.astro"
import { estimateReadingTime } from "@utils"

export async function getStaticPaths() {
  const posts = await getCollection("blog")
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}

type Props = CollectionEntry<"blog">

const post = Astro.props
const { Content } = await post.render()

const readingTime = estimateReadingTime(post.body)

const dateOptions: Intl.DateTimeFormatOptions = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
}
---

<MainLayout
  title={post.data.title}
  description={post.data.description}
  image={post.data.heroImage.url.src}
>
  <BlogStructuredData {...post} slot="structured-data" />
  <h1>{post.data.title}</h1>
  <div
    class="flex flex-col sm:flex-row items-baseline gap-4 py-4 mb-4 border-b border-black dark:border-zinc-700"
  >
    <div class="flex flex-row items-center">
      <span>📆</span>
      <p class="!ml-2">
        {
          post.data.updated
            ? post.data.updated.toLocaleString("en-GB", dateOptions)
            : post.data.created.toLocaleString("en-GB", dateOptions)
        }
      </p>
    </div>
    <div class="flex flex-row items-center">
      <span>⏳</span>
      <p class="!ml-2">{readingTime} minute read</p>
    </div>
  </div>
  <article class="default-spacing">
    <Content />
  </article>
</MainLayout>
