---
import { Image } from "astro:assets"
import { getCollection } from "astro:content"

import PageHero from "@components/PageHero.astro"
import SiteStructuredData from "@components/head/SiteStructuredData.astro"
import MainLayout from "@layouts/MainLayout.astro"

const featuredProjects = (await getCollection("projects"))
  .filter((p) => p.data.featured === true)
  .sort(
    (a, b) =>
      (b.data.created === "Ongoing" ? Infinity : b.data.created.valueOf()) -
      (a.data.created === "Ongoing" ? Infinity : a.data.created.valueOf()),
  )
---

<MainLayout title="Home" description="Stephen Lunt's portfolio and blog">
  <SiteStructuredData slot="structured-data" />
  <PageHero slot="page-hero" />
  <div
    class="bg-zinc-900/30 flex flex-col sm:flex-row items-center gap-4 mx-auto p-6 rounded-md border border-zinc-700"
  >
    <img
      src="/avatar.jpeg"
      alt="avatar"
      class="rounded-full w-32 h-32 border border-zinc-700"
    />
    <p class="inline-block my-auto text-center sm:text-left">
      Hey, I'm Stephen 👋 I'm a Full Stack Software Engineer working in London.
    </p>
  </div>

  <section class="my-16">
    <h1 class="text-center pb-4">Featured Projects</h1>
    <ul class="flex flex-col gap-4">
      {
        featuredProjects.map((project) => (
          <li class="flex flex-col xs:flex-row gap-4">
            <div class="max-w-full xs:max-w-[240px] flex-shrink-0">
              <Image
                src={project.data.heroImage.url}
                alt={project.data.heroImage.alt}
                width={480}
                height={320}
                class="rounded-md"
              />
            </div>
            <div class="flex flex-col gap-2 py-1">
              <h2 class="my-0">
                <a href={`/projects/${project.slug}/`}>{project.data.title}</a>
              </h2>
              <p>{project.data.description}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
