---
import type { CollectionEntry } from "astro:content"

interface Props {
  listItems: CollectionEntry<"projects">[] | CollectionEntry<"blog">[]
  slugPrefix: string
}

const { listItems, slugPrefix } = Astro.props
---

<ul class="list-none m-0 p-0">
  {
    listItems.map((item) => (
      <li class="pb-4">
        <div class="flex flex-row flex-wrap justify-between items-baseline pb-2">
          <h2 class="mb-1">
            <a href={`/${slugPrefix}/${item.slug}/`}>{item.data.title}</a>
          </h2>
          <div>
            {item.data.created === "Ongoing"
              ? "Ongoing"
              : item.data.created.toLocaleString("default", {
                  month: "short",
                  year: "numeric",
                })}
          </div>
        </div>

        {item.data.tags && (
          <div class="flex flex-row flex-wrap gap-1">
            {item.data.tags.map((tag) => (
              <div class="bg-zinc-200/30 px-2 py-0.5 mb-2 text-sm text-black border border-black">
                {tag}
              </div>
            ))}
          </div>
        )}

        <p>{item.data.description}</p>
      </li>
    ))
  }
</ul>
